.btn {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  border-radius: 6px;
  text-transform: capitalize;
  cursor: pointer;

  &-primary {
    background-color: $primary-clr;
    color: #fff !important;
  }
}
